name: Build ldap utils
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        - name: Setup Golang
          uses: actions/setup-go@v4
          with:
            go-version: '1.24'
        - name: Build ldap utils
          run: |
            go build -o ldaputils
            