name: Build ldap utils
on:
  pull_request:
    branches:
      - master
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        - name: Setup Golang
          uses: actions/setup-go@v4
          with:
            go-version: '1.24'
        - name: Build ldap utils
          run: |
            go build -o ldaputils
        - name: Build container image with dockerfile
          uses: docker/build-push-action@v4
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: firstfloor/ldaputils:latest
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}