name: Build ldap utils
on:
  pull_request:
    branches:
      - master
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        - name: Setup Golang
          uses: actions/setup-go@v4
          with:
            go-version: '1.24'
        - name: Build ldap utils
          run: |
            go build -o ldaputils
        - uses: mr-smithers-excellent/docker-build-push@v6
          name: Build & push Docker image
          with:
            image: repo/image
            tags: v1, latest
            registry: registry-url.io
            dockerfile: Dockerfile.ci
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}