name: Build ldap utils

on:
  pull_request:
    branches:
      - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        - name: Setup Golang
          uses: actions/setup-go@v4
          with:
            go-version: '1.24'
        - name: Build ldap utils
          run: |
            go build -o ldaputils            
        - name: Setup Docker
          uses: docker-practice/actions-setup-docker@master
          with:
            docker_version: 20.10
            docker_channel: stable
        - name: Login to DockerHub and push image
          run: |
            docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_TOKEN }}"
            docker build -t firstfloor/ldaputils:latest .
            docker push firstfloor/ldaputils:latest
        